@font-face{
	font-family: "Gothic";
	src: url('./fonts/GOTHIC.TTF')
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-Regular.ttf')
}

h1, h2, h3, h4, h5, h6{
	font-family: "Gothic";
}

p {
	font-family: "Raleway";
}

.hero{
	background: url('./img/segunda.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
}

.hero__container{
	width: 100%;
}

.hero__container h1{
	font-weight: 600;
}

.navbar-brand{
	margin: 0;
}

.navegation {
	width: 100%;
}

.navegation__social a {
	display: inline-block;
}

.fa-facebook-square{
	color: #1E8BDD;
	font-size: 40px;
}
.fa-youtube{
	color: red;
	font-size: 40px;
}
.fa-github{
	color: #9421D5;
	font-size: 40px;
}