/* html{
	font-size: 62.5%;
} */

@font-face{
	font-family: "Gothic";
	src: url('./fonts/GOTHIC.TTF')
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-Regular.ttf')
}

/* h1{font-size: 3.2rem; font-family: "Gothic";}
h2{font-size: 2.4rem;}
h3{font-size: 1.872rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.328rem;}
h5{font-size: 3.2rem;}
h6{font-size: 10.72rem;}

p {font-size: 1.6rem;} */

.hero{
	background: url('./img/segunda.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
}

.hero__container{
	width: 100%;
}

.hero__container h1{
	font-family: "Gothic";
}